{:paths ["src"] ; where your cljd files are
 :deps {tensegritics/clojuredart
        {:git/url "https://github.com/tensegritics/ClojureDart.git"
         :sha "8e5f7b16e90e79e6d1cf98611698179bdc8ced1c"}
        amjil/mongol-virtual-keyboard
        {;:git/url "https://github.com/amjil/mongol-virtual-keyboard.git"
        ;:sha "02510d06672908f340eab42d8aadc38d9876b04b"
         :local/root "../m-v-k"} 
        amjil/horizontal-pull-to-refresh
        {:local/root "../horizontal-pull-to-refresh"}
        amjil/mgl-components
        {:local/root "../mgl-components"}
        amjil/mongol-menu-bar
        {:local/root "../mongol-menu-bar"}}

 :aliases {:cljd {:main-opts ["-m" "cljd.build"]}}
 :cljd/opts {:kind :flutter
             :main jirgee.main}}
