{:system/env
 #profile {:dev :dev
           :test :test
           :prod :prod}

 :server/http
 {:port #long #or [#env PORT 3002]
  :host #or [#env HTTP_HOST "0.0.0.0"]
  :handler #ig/ref :handler/ring}

 :handler/ring
 {:router #ig/ref :router/core
  :api-path "/api"
  :cookie-secret #or [#env COOKIE_SECRET "WOGIFEMQLHJGDKCR"]
  ;; from ring.middleware.defaults. anti-forgery `false` by default because services may not require it
  :site-defaults-config {:params {:urlencoded true
                                  :multipart true
                                  :nested true
                                  :keywordize true}
                         :cookies true
                         :session {:flash true
                                   :cookie-name "amjil.jirgee"
                                   :cookie-attrs {:max-age 86400
                                                  :http-only true
                                                  :same-site :strict}}
                         :security {:anti-forgery false
                                    :xss-protection {:enable? true,
                                                     :mode :block}
                                    :frame-options :sameorigin
                                    :content-type-options :nosniff}
                         :static {:resources "public"}
                         :responses {:not-modified-responses true
                                     :absolute-redirects true
                                     :content-types true
                                     :default-charset "utf-8"}}}

 :reitit.routes/api
 {:base-path "/api"
  :env #ig/ref :system/env
  :token-secret #or [#env COOKIE_SECRET "WOGIFEMQLHJGDKCR"]
  :db-conn #ig/ref :db.sql/hikari-connection
  :query-fn #ig/ref :db.sql/query-fn}

 :router/routes
 {:routes #ig/refset :reitit/routes}

 :router/core
 {:routes #ig/ref :router/routes}
 :db.sql/query-fn {:conn #ig/ref :db.sql/hikari-connection,
                   :options {},
                   :filename "sql/queries.sql"}
 :db.sql/migrations {:store :database,
                     :db {:datasource #ig/ref :db.sql/hikari-connection},
                     :migrate-on-init? true}
;;  :db.sql/connection
;;  #profile {:dev {:jdbc-url "jdbc:postgresql://10.1.0.3:5432/jirgee_dev?user=appuser&password=appuer"},
;;            :test {:jdbc-url "jdbc:postgresql://10.1.0.3:5432/jirgee_test?user=appuser&password=appuer"},
;;            :prod {:jdbc-url #env JDBC_URL}}
;;  :db.sql/connection
 :db.sql/hikari-connection
 #profile {:dev {:jdbc-url      #or [#env JDBC_URL "jdbc:postgresql://10.1.0.3:5432/jirgee_dev?user=appuser&password=appuer"]
                 :auto-commit        true
                 :read-only          false
                 :connection-timeout 30000
                 :validation-timeout 5000
                 :idle-timeout       600000
                 :max-lifetime       1800000
                 :minimum-idle       1
                 :maximum-pool-size  2
                 :pool-name          "pool-name"
                ;;   :driver-class-name  "com.mysql.jdbc.Driver"
                 }}}
